<html>
<head>
	<title>About - Handgun Tool</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='form.css') }}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
<body>
<h1>About</h1>
<p>This tool was built by <a href="http://www.reddit.com/u/phteven_j">Phteve</a> in order to help people find handguns that suit their needs.</p> 
<p>Design credit is shared with LorettaScarr and Matt P.</p>

</body>
</html>

