<html>
<head>
	<title>Glossary - Handguns Tool</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='guns.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<h1>Glossary of Handgun Terms</h1>

<b>Handgun:</b> A firearm designed to be handheld, in either one or both hands.
<br><br>
<b>Semi-automatic:</b> A firearm which automatically reloads, but will only fire one round per trigger pull.
<br><br>
<b>Revolver:</b> A repeating firearm that has a revolving cylinder containing multiple chambers and at least one barrel for firing.
<br><br>
<b>Double Action (DA):</b> Pulling the trigger performs 2 actions - cocking the hammer and then releasing the hammer to fire the gun. Double Action guns can also be fired in single action mode. Typically seen in revolvers.
<br><br>
<b>Double Action Only (DAO):</b> A gun which can ONLY be fired in DA mode.
<br><br>
<b>Single Action (SA):</b> Pulling the trigger performs 1 action - releasing the hammer to fire the gun.
<br><br>
<b>DA/SA:</b> A firearm with the capability to act in either DA or SA mode. Cocking the hammer will place the gun into SA mode, but the gun can be fired with the hammer down in DA mode. Typically seen in semiautomatics.
<br><br>
<b>Striker-fired (SF):</b> A firearm with no external hammer where pulling the trigger tenses and then relaxes a a spring holding the firing pin assembly (striker).
<br><br>
<b>Single stack magazine:</b> The cartridges/rounds in the gun's magazine are stacked directly on top of one another. Slimmer than double stack.
<br><br>
<b>Double stack magazine:</b> The cartridges/rounds in the gun's magazine are stacked alternating or staggered in order to fit more cartridges. Wider than single stack.
<br><br>
<b>Decocker:</b> A button or lever on a double action handgun which safely lowers the hammer, allowing the pistol to be fired in DA mode.
<br><br>
<b>Safety:</b> A button or lever on a firearm which prevents it from firing while the safety is engaged.
<br><br>
<b>Caliber:</b> Approximate diameter of the gun barrel, the projectile it fires, or the cartridge casing. Handgun calibers include .22LR, .25ACP, .380ACP, 9mm Luger/Parabellum, 9x18mm, .40S&W, .45ACP, 10mm, .38SPL, .357 Magnum, .44SPL, .44 Magnum, 50AE, .500S&W.
<br><br>
<b>+1:</b> A capacity which includes "+1" means that in addition to a full magazine, the gun can also fit one round in the chamber. Therefore a gun which has a capacity of 7+1 can really hold 8 rounds: 7 in the magazine and 1 in the chamber.
<br><br>
<input type="submit" class="submit" value = "Back" onclick="window.history.back()">
</body>
</html>